.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 38.3rem;
	margin: 0 auto;
}

.title {
	font-size: 1.4rem;
	color: #333333;
	margin-bottom: 1.1rem;
}
.label {
	display: block;
	font-size: 10px;
	line-height: 12px;
	color: #4f4f4f;
	margin-bottom: 0.5rem;
}

.input {
	display: inline-block;
	width: 100%;
	border: 1px solid #828282;
	border-radius: 12px;
	padding: 1.277rem;
	margin-bottom: 1.65rem;
	max-width: 38.3rem;
}

.input:focus {
	outline: none;
	box-shadow: 0 0 5px #f2994a;
}

.input::placeholder {
	font-family: "Montserrat", sans-serif;
	font-size: 1.2rem;
	color: #828282;
}

.container {
	display: flex;
	gap: 2.3rem;
	max-width: 38.3rem;
}

.inputContainer {
	flex: 1;
}

.confirmationContainer {
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
}

.confirmationLabel {
	font-size: 10px;
	line-height: 12px;
	color: #4f4f4f;
}

.confirmationInput {
	margin-bottom: 0;
}

.button {
	border: none;
	background: #f2994a;
	border-radius: 1.2rem;
	font-size: 1.6rem;
	cursor: pointer;

	color: #ffffff;
	display: flex;
	padding: 1.7rem 4.5rem;
	align-self: end;
}
